- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- jQuery
//- scripts.add(["/vendor/jquery.js"])
- scripts.add(["//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"])

//- Bootstrap
- scripts.add(["/vendor/twitter-bootstrap/js/bootstrap.min.js"])
- styles.add(["/vendor/twitter-bootstrap/css/bootstrap.min.css","/vendor/twitter-bootstrap/css/bootstrap-responsive.css"])
- styles.add(["/vendor/twitter-bootstrap/css/bootstrap-docs.css"])

//- Other Scripts
- scripts.add(["/vendor/log.js","/vendor/modernizr.min.js"])

//- deck.js
- styles.add(["/vendor/deck.all.css"])
- scripts.add(["/vendor/deck.core.min.js","/vendor/deck.navigation.min.js","/vendor/deck.status.min.js","/vendor/deck.automatic.min.js"])
//- styles.add(["/vendor/deck.core.css","/vendor/deck.navigation.css","/vendor/deck.status.css","/vendor/deck.automatic.css"])
- scripts.add(["/scripts/talk.js"])

//- add site script last (NOT IN USE)
//- scripts.add(["/scripts/bttrfll.js"])


//- User
- styles.add(["/styles/style.css"])

html
  head
    // (c) copyright 2022 Stephen A. Butterfill
    //- Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    //- Icons
    //- link(rel="shortcut icon", href="ico/favicon.ico")
    //- link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
    //- link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
    //- link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
    //- link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

    //- fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900,400italic',rel='stylesheet',type='text/css')
    
    //- link(href='http://fonts.googleapis.com/css?family=Raleway',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Shadows+Into+Light',rel='stylesheet',type='text/css')
    //- link(href='http://fonts.googleapis.com/css?family=Droid+Serif',rel='stylesheet',type='text/css')



    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //- Styles
    != styles.toHTML()
    

  body
    .container
      != content
    
    //- Scripts
    != scripts.toHTML()
