---
layout: 'default'
---

h3
  a(href="/") Home
  | 
  | >> 
  a(href="/#writing") Writing
  |  
  | >> 


h1 #{document.title} (#{document.year})

p by #{document.authors}

//- ! mostly copied from index.html.jade (delete reference to paper and authors, add a paragrap)
mixin display_publication(d)
  //- necessary because d.url omits the file extension & so doesn't work on S3
  | ---
  if d.journal
    u #{d.journal}
  if d.journal && d.volume
    | 
    | #{d.volume}
  if d.journal && d.number
    | (#{d.number})
  if d.booktitle
    | 
    | in 
    if d.editor 
      | #{d.editor} (eds.), 
    i #{d.booktitle} 
    if !d.journal && d.volume
      |  Volume #{d.volume}
    if !d.journal && d.number
      |  , Number #{d.number}
  if d.address
    | , #{d.address}
  if d.address && d.publisher
    | : 
  | #{d.publisher}
  if d.pages
    | , pp. #{d.pages}

  if d.isbn
    | ; ISBN: #{d.isbn}
  if d.issn
    | ; ISSN: #{d.issn}

  br

  if d.pdf || d.doi || d.link
    | --- links: 
    if d.pdf
      a(href='/pdf/#{d.basename}.pdf',target='_blank') [pdf] 
    if d.doi
      | external 
      a(href='http://dx.doi.org/#{d.doi}',target='_blank') [doi: #{d.doi}] 
    if d.link
      a(href=d.link,target='_blank') [publisher's page]

- d = document
p
  +display_publication(d)


if document.abstract
  h3 Abstract 
  p
    != document.abstract

!= content